<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/lib/js/boostrap.min.js">
<link rel="stylesheet" href="/lib/css/bootstrap.css">

<title>회원가입</title>

</head>

<body th:align="center">

		<h2>회원가입이 완료되었습니다.</h2>
		<div class="container">
			<a href="/index.html"><button type="submit" class="btn btn-primary">홈으로</button></a>
		</div>
	
</body>
</html>