<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/lib/js/bootstrap.min.js">
<link rel="stylesheet" href="/lib/css/bootstrap.css">
<script type="text/javascript" src="/lib/js/daumAddress.js" ></script>
<script type="text/javascript" src="/lib/js/common.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<title>회원정보수정</title>

</head>
<body th:align="center">
	<h1 th:align="center">회원정보수정</h1>
	<hr>
	<form th:action="@{/member/updateMember}" method="post">
		<div class="container">
			<div class="form-group">
				<label for="input" class="col-sm-2 control-label">아이디</label>
				<div class="col-sm-10">
					<input name="seq" type="hidden" th:value="${memberVO.seq}">
					<input name="userId" class="form-control" type="text" th:value="${memberVO.userId}" readonly="readonly" disabled>
				</div>		
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">비밀번호</label>
					<div class="col-sm-10">
						<input name="userPassword" class="form-control" type="password" th:value="${memberVO.userPassword}">
					</div> 
				</div>			
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">이메일</label>
						<div class="col-sm-10">
							<input name="userEmail" class="form-control" type="text" th:value="${memberVO.userEmail}">
						</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">전화번호</label>
					<div class="container">
						<div class="row">
								<div class="col-md-3">						
									<select  class="form-control" name="userPhone1">
									  <option selected>번호선택</option>
									  <option value="011">011</option>
									  <option value="010">010</option>
									  <option value="018">018</option>
									  <option value="019">019</option>
									</select>
								</div>
								-
								<div class="col-md-3">
									<input type="text" class="form-control" name="userPhone2"/>	
								</div>						
								-
								<div class="col-md-3">
									<input type="text" class="form-control" name="userPhone3"/>	
								</div>
						</div>
				 </div>							
		  	</div>	
			
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<input name="userName" class="form-control" type="text" th:value="${memberVO.userName}" readonly="readonly" disabled>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">생년월일</label>
						<div class="col-sm-10">
							<input name="userDate" class="form-control"type="text" th:value="${memberVO.userDate}" readonly="readonly" disabled>
						</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">우편번호</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="addressPostNumber" id="addressPostNumber" th:value="${memberVO.addressPostNumber}" readonly="readonly"/>
							<br>
							<button type="button" class="btn btn-info" onClick="CALL_fn_SearchAddress()">우편번호찾기</button>
						</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">도로명주소</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="addressRoadName" id="addressRoadName" th:value="${memberVO.addressRoadName}" readonly="readonly"/>
						</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">지번주소</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="addressGnumberName" id="addressGnumberName" th:value="${memberVO.addressGnumberName}" readonly="readonly"/>
						</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="form-group">
					<label for="input" class="col-sm-2 control-labe">상세주소</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="addressDetail" id="addressDetail" th:value="${memberVO.addressDetail}"/>
					</div>
				</div>			
			</div>
						
		</div>

		<hr>		
			<div class="d-flex justify-content-center">
				<input type="submit" class="btn btn-info" style="margin-right: 15px;" value="게시글수정"/>
					<a href="/index.html">
						<button type="submit" class="btn btn-primary">홈으로</button>
					</a>
			</div>
		<hr>		
	
	</form>	
</body>
</html>