<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/lib/js/bootstrap.min.js">
<link rel="stylesheet" href="/lib/css/bootstrap.css">
<script type="text/javascript" src="/lib/js/daumAddress.js" ></script>
<script type="text/javascript" src="/lib/js/common.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<title>회원정보수정</title>

</head>
<body th:align="center">
	<h1 th:align="center">회원정보수정</h1>
	<hr>
	<form th:action="@{/member/getUpdateListMember}" method="post">
		<table th:align="center" border="1" th:cellpadding="0" th:cellsapcing="0">
			
			<tr>
				<td>
					<input name="seq" type="hidden" th:value="${memberVO.seq}">
					<input name="userId" type="text" th:value="${memberVO.userId}">
				</td>
			</tr>
			
			<tr>
				<td>
					<input name="userPassword" type="password" th:value="${memberVO.userPassword}">
				</td>							
			</tr>
			
			<tr>
				<td>
					<input name="userDate" type="text" th:value="${memberVO.userDate}">
				</td>
			</tr>
			
			<tr>
				<td>
					<input name="userEmail" type="text" th:value="${memberVO.userEmail}">
				</td>
			</tr>
			
			<tr>
				<td>
					<input name="userPhone1" type="text" th:value="${memberVO.userPhone1}">-
					<input name="userPhone2" type="text" th:value="${memberVO.userPhone2}">-
					<input name="userPhone3" type="text" th:value="${memberVO.userPhone3}">
				</td>
			</tr>
			
			<tr>
				<td>
					우편번호 : <input type="text" name="addressPostNumber" id="addressPostNumber" th:value="${memberVO.addressPostNumber}"/>
						
							<button type="button" class="btn btn-info" onClick="CALL_fn_SearchAddress()">우편번호찾기</button>
							
				</td>
			</tr>
			
			<tr>
				<td>
					도로명주소 : <input type="text" name="addressRoadName" id="addressRoadName" th:value="${memberVO.addressRoadName}"/>		
				</td>
			</tr>
			
			<tr>
				<td>
					지번주소 : <input type="text" name="addressGnumberName" id="addressGnumberName" th:value="${memberVO.addressGnumberName}"/>
				</td>
			</tr>
			
			<tr>
				<td>
					상세주소 : <input type="text" name="addressDetail" id="addressDetail" th:value="${memberVO.addressDetail}"/>
				</td>
			</tr>
		</table>
		<hr>		
		<div class="d-flex justify-content-center">
			<input type="submit" class="btn btn-info" style="margin-right: 15px;" value="게시글수정"/>
				<a href="/index.html"><button type="submit" class="btn btn-primary">홈으로</button></a>
		</div>		
	
	</form>	
</body>
</html>